body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  width: 1200px;
  margin-top: 30px;
}

table,
tr,
th,
td {
  border: 1px solid black;
  padding: 10px;
}

.error-msg {
  display: none;
  color: red;
  margin-top: 30px;
}
